<!DOCTYPE HTML>
<head>
    <script type="text/javascript" src="/js/angular.min.js"></script>
    <script type="text/javascript" src="/js/angular-resource.min.js"></script>
    <script type="text/javascript" src="/js/search-app/app.js"></script>
    <script type="text/javascript" src="/js/search-app/controllers/mainController.js"></script>
    <script type="text/javascript" src="/js/d3/d3.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
</head>
<body>
    <div ng-app='SearchApp' ng-controller='mainController' ng-init='init()'></div>
</body>
</html>
